:root {
  --button-color: #6c63ff;
  --paragrapgh-color: #272142b2;
}

h2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--paragrapgh-color);
  opacity: 0.7;
}

.btn-branding {
  font-family: "Poppins", sans-serif;
  background: var(--button-color);
  border-radius: 4px;
  color: #fff;
  padding: 18px, 30px;
}

.btn-branding-redirect {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: var(--button-color);
  padding: 15px 30px;
}

.col-6 h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
}

.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
  margin: 0 0 8px;
}

.hero h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 48px;
}

.hero p {
  color: var(--paragrapgh-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 0;
}

.project-description {
  padding: 120px 60px;
}
